@import "~/.config/rofi/matugen/matugen-rofi.rasi"

* {
       background:       @surface;
       background-alt:   @surface-container-highest;
       background-alpha: @surface-alpha;
       foreground:       @on-surface;
       border-color:     @tertiary;
       selected:         @tertiary;
       selected-text:    @surface;
       active:           @primary;
       urgent:           @error;
}
